# Group by
movieDirector

```mysql
select distinct director 
from moviesInfo 
where year > 2000
group by director
having sum(oscars) > 2  
order by director;
```

travelDiary
```mysql
select group_concat(distinct country separator ";") countries
from diary
order by country;
```

soccerPlayer
```mysql
select group_concat(distinct country separator ";") countries
from diary
order by country;
```

marketReport
```mysql
# Method 1
select coalesce(country,'Total:') country, count(country) competitors
from foreignCompetitors
group by country
with rollup;

# Method 2
select ifnull(country, "Total:") as country, count(competitor) as competitors
from foreignCompetitors
group by country
with rollup;
```

# Tricks
nullIntern
```mysql
select count(id) number_of_nulls
from departments
where description is null 
or trim(description) in ('null', 'nil', '-');  
```

legscount
```mysql
SELECT sum(case when type='human' then 2 when type in ('cat','dog') then 4 else 0 end) as summary_legs
FROM creatures
ORDER BY id;

SELECT (SUM(IF(type = 'human', 2, 4))) as summary_legs
FROM creatures
ORDER BY id;
```

combinationlock
```mysql
SELECT
CEIL(ROUND(exp(sum(log(CHAR_LENGTH(characters)))),2)) as combinations
from discs;

SELECT ROUND(EXP(sum(LOG(LENGTH(characters))))) AS combinations FROM discs;
```

interestClub
```mysql
SELECT name
FROM people_interests
WHERE interests & 1 AND interests & 8
ORDER BY name
```

personalHobbies
```mysql
# Method 1
SELECT name FROM people_hobbies
WHERE FIND_IN_SET('reading', hobbies) AND FIND_IN_SET('sports', hobbies);

# Method 2
show columns from people_hobbies;

SELECT name
FROM people_hobbies
where hobbies & 2 and hobbies & 1;
```